body{
    background-image: url(../images/karate.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.score{
    height: 80%;
    background-color: blue;
    align-items: center;
}

.score .result p{
    font-size: 5rem;
}
.score .result a{
    font-size: 30rem;
}

